// Body Copy
body {
  font-size: 14px;
}

// Headings, Call-to-actions, Header Navigation

@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
}
@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/Raleway/Raleway-Bold.ttf');
}

// Body

@font-face {
  font-family: OpenSans;
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSans-Bold;
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
