// Primary
$clr1: hsl(217, 28%, 15%);
$clr2: hsl(218, 28%, 13%);
$clr3: hsl(216, 53%, 9%);
$clr4: hsl(219, 30%, 18%);

//Accent

$clr5: hsl(176, 68%, 64%);
$clr6: hsl(198, 60%, 50%);

// Breakpoints
$mobile-breakpoint: 375px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1440px;
